@font-face {
    src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
}
@font-face {
    src: url(../fonts/OpenSans/OpenSans-Medium.ttf);
}
@font-face {
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
    src: url(../fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
}

* {
    -primary-color: #0F766E;
    -bg-color: #F8F9FF;
    -neutral-color: #f4f4f4;

    -label-color: #94A3B8;
    -text-color : #3E4947;
    -border-color : #E2E8F0;

}
.bg-primary{
    -fx-background-color : #F8F9FF;
}
.panel{
    -fx-background-color : #FFF;
    -fx-border-radius : 10px;
    -fx-background-radius : 10px;
    -fx-border-width : .5px;
}


.logo{
    -fx-font-family : "Poppins SemiBold";
}

.nav{
    -fx-background-color : transparent;
    -fx-font-family : "Poppins Medium";
    -fx-padding : 0px 0px 0px 35px;
    -fx-font-size : 18px;
}
.btn-primary{
    -fx-background-color : -primary-color;
    -fx-padding : 10px 30px;
    -fx-font-family : "Poppins Medium";
    -fx-font-size : 14px;
    -fx-text-fill : -neutral-color;
}
.btn-secondary{
    -fx-background-color : -neutral-color;
    -fx-padding : 10px 30px;
    -fx-font-family : "Poppins Medium";
    -fx-font-size : 14px;
    -fx-text-fill : -primary-color;
}
.FontIcon{
    -fx-background-color : -primary-color;
}
.header{
    -fx-border-color : -border-color;
    -fx-border-width : .5px 0px .5px 0px;
}

.right-border{
    -fx-border-color : -border-color;
    -fx-border-width : 0px .5px 0px 0px;
}

.custom-label{
    -fx-background-color : -bg-color;
    -fx-padding : 5px 20px;
    -fx-border-color : -border-color;
    -fx-font-family : "Poppins Medium";
    -fx-font-size : 14px;
    -fx-border-radius : 8px;
    -fx-alignment : center;
}

.custom-label-d {
    -fx-padding : 0px 0px 0px 30px;
}

.custom-textField{
    -fx-font-family : "Poppins Medium";
    -fx-font-size : 14px;
    -fx-background-color : transparent;
    -fx-effect : none;
}

.main-label{
    -fx-font-family : "Poppins Bold";
    -fx-font-size : 24px;
}

.bo{
    -fx-border-color : -border-color;
    -fx-border-width : .5px;
}

.radius{
    -fx-background-radius : 10px;
    -fx-border-radius : 10px;
}
.radius-btn{
    -fx-background-radius : 7px;
}

.custom-table-view{
    -fx-padding : 0px;
    -fx-border-radius : 8px;
    -fx-border-color : -border-color;
    -fx-background-radius : 8px;
}

.custom-table-view .column-header-background {
    -fx-background-color : -primary-color;
    -fx-background-insets : 0 0 0 0;
    -fx-background-radius : 8px 8px 0px 0px ;
    -fx-border-radius : 8px;
}
.custom-table-view .column-header, .filter{
    -fx-size : 40px;
    -fx-background-color : transparent;
    -fx-font-size : 16px;   
}

.custom-table-view .column-header .label{
    -fx-text-fill : -neutral-color;
    -fx-font-family : "Poppins Bold";
}

.date-picker .arrow-button {
    -fx-background-color: -primary-color;
    -fx-border-radius : 10px;
    -fx-background-radius : 10px;
}
.date-picker-popup .month-year-pane {
    -fx-background-color: -primary-color;
    -fx-text-fill: white;
    -fx-background-radius : 10px;
}
.date-picker-popup .day-cell:selected {
    -fx-background-color: -primary-color;
    -fx-border-color : -border-color;
}
.date-picker-popup {
    -fx-background-color: -bg-color;
    -fx-background-radius : 10px;
    -fx-effect : dropshadow( gaussian , rgba(0,0,0,0.2) , 12, 0.0 , 0 , 8 );;
    
}
.date-picker > .text-field {
    -fx-background-color : white;
    -fx-background-radius : 10px;
}

.text-field:focused,
.date-picker:focused,
.text-area:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;
}

.text-area {
    -fx-wrap-text : true;
}

.text-area .content{
    -fx-background-color : white;
    -fx-background-radius : 10px;
    -fx-text-fill : #000;
}

.table-row-cell {
    -fx-background-color: white;
    /* -fx-border-color: transparent transparent #e0e0e0 transparent; */
    -fx-border-width: 0 0 1 0;
    -fx-font-family: "Open Sans Medium";
    -fx-font-size : 16px;   
}
.table-row-cell .table-cell {
    -fx-padding: 10px 10px;
    -fx-alignment: top-left;
}
.table-row-cell:odd {
    -fx-background-color: #fafafa;
}

.table-row-cell:even {
    -fx-background-color: white;
}
.table-row-cell:hover {
    -fx-background-color: #f0f8f7;
}

.table-row-cell:selected {
    -fx-background-color: #0f766d8c;
    -fx-text-fill: white;
}

.table-row-cell:selected .table-cell {
    -fx-text-fill: white;
}
#tablePatient_col_contact{
    -fx-alignment: top-center;
}

.date-bg{
    -fx-background-color: rgba(15, 118, 109, 0.3);
}
