@font-face {
    src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
}
@font-face {
    src: url(../fonts/OpenSans/OpenSans-Medium.ttf);
}
@font-face {
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
    src: url(../fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
}

* {
    -primary-color: #0F766E;
    -bg-color: #F8F9FF;
    -neutral-color: #f4f4f4;

    -border-color : #BDC9C6;

    -primary-font : "Poppins SemiBold";

}
.logo{
    -fx-font-family : "Poppins SemiBold";
}

.nav{
    -fx-background-color : transparent;
    -fx-font-family : "Poppins Medium";
    -fx-padding : 0px 0px 0px 35px;
    -fx-font-size : 18px;
}
.btn-primary{
    -fx-background-color : -primary-color;
    -fx-padding : 10px 30px;
    -fx-font-family : "Poppins Medium";
    -fx-font-size : 14px;
    -fx-text-fill : -neutral-color;
}

.header{
    -fx-border-color : -border-color;
    -fx-border-width : .5px 0px .5px 0px;
}

.right-border{
    -fx-border-color : -border-color;
    -fx-border-width : 0px .5px 0px 0px;
}

.custom-label{
    -fx-background-color : -bg-color;
    -fx-padding : 5px 20px;
    -fx-border-color : -border-color;
    -fx-font-family : "Poppins Medium";
    -fx-font-size : 14px;
    -fx-border-radius : 8px;
    -fx-alignment : center;
}

.custom-label-d {
    -fx-padding : 0px 0px 0px 30px;
}

.custom-textField{
    -fx-font-family : "Poppins Medium";
    -fx-font-size : 14px;
}

.main-label{
    -fx-font-family : "Poppins Bold";
    -fx-font-size : 24px;
}

.bo{
    -fx-border-color : -border-color;
    -fx-border-width : .5px;
}

.radius{
    -fx-border-radius : 15px;
}