@import url(main.css);

.form-label{
    -fx-font-family : "Poppins Medium";
    -fx-font-size : 16px;
}

.custom-text{
    -fx-font-family : "Open Sans Regular";
    -fx-font-size : 16px;
}

.custom-textField{
    -fx-font-family : "Poppins Regular";
    -fx-font-size : 18px;
    -fx-text-fill : -text-color;
}

.nom-field{
    -fx-font-scale : uppercase;
}

.panel{
    -fx-background-color : #FFF;
    -fx-border-radius : 10px;
    -fx-border-width : .5px;
}


